/*************************************************************/

/*          4-Tell STYLES							         */

/*************************************************************/

.ul-title {
  color: #435912;
  font-family: "Lato", sans-serif, "google";
  font-size: 18px;
  font-weight: 700;
  text-indent: 0;
  border-bottom: 1px solid #e5e5e5;
  display: block;
}
.expandSearch {
  display: block !important;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.tout1_searchBoost_4T .FourTellContainer .product4TCaption {
  line-height: initial;
}
.tout1_searchBoost_4T .FourTellContainer .owl-carousel .owl-controls .owl-prev {
  top: 100px;
}
.tout1_searchBoost_4T .FourTellContainer .owl-carousel .owl-controls .owl-next {
  top: 100px;
}
.tout1_searchBoost_4T .SB4T2 .FourTellContainer .owl-carousel .owl-controls .owl-prev {
  top: 165px;
}
.tout1_searchBoost_4T .SB4T2 .FourTellContainer .owl-carousel .owl-controls .owl-next {
  top: 165px;
}
.tout1_searchBoost_4T .product4T .description {
  top: 172px;
  display: none;
}
.tout1_searchBoost_4T .product4T .productTitle {
  margin-bottom: 0px;
}
.tout1_searchBoost_4T .selected .FourTellContainer .owl-carousel {
  width: 100% !important;
  background: #f5f7f0 !important;
}
.tout1_searchBoost_4T .selected .FourTellContainer .owl-carousel .product4T {
  width: 100% !important;
  background: none !important;
}
.expandSearch:hover {
  text-decoration: underline;
}
.closeButton {
  display: block !important;
  text-align: right;
  cursor: pointer;
  right: 10px;
  position: absolute;
  top: 10px;
  color: #343434;
  background: #f5f7f0;
  padding: 3px 7px 3px 7px;
  font-weight: bold;
  border-radius: 2px;
}
.searchBoostRecWrapper4T ul {
  list-style: none;
  padding: 0px;
}
.tout1_searchBoost_4T {
  display: inline-block;
  width: 67%;
  position: relative;
  float: right;
}
.SB4T2 .product4T .productPrice {
  font-size: 14px;
}
.SB4T {
  table-layout: fixed;
}
.SB4T .product4T {
  width: 100%;
}
.SB4T .product4T .productImage {
  height: 207px;
}
.SB4T .product4T .productPrice {
  font-size: 14px;
}
.SearchBoostProd1 {
  width: 25%;
  float: left;
}
.SearchBoostProd2 {
  width: 74%;
  float: right;
}
.SearchBoostProd2 .product4T .productImage {
  height: 128px;
}
.categoryListWrapper {
  display: inline-block;
  width: 13%;
  float: left;
  margin-right: 3%;
}
.categoryListWrapper li {
  margin: 7px 0px 7px 0px;
}
.categoryListWrapper li.category4T:hover {
  cursor: pointer;
  color: #f48264;
}
.categoryListWrapper li.category4T.selected {
  pointer-events: none;
  background: #f5f7f0;
}
.productListWrapper {
  float: right;
  width: 15%;
  float: left;
}
.productListWrapper li {
  margin: 7px 0px 7px 0px;
}
.productListWrapper li.searchProduct4T:hover {
  cursor: pointer;
  color: #f48264;
}
.productListWrapper li.searchProduct4T.selected {
  pointer-events: none;
  background: #f5f7f0;
}
.searchBoostRecWrapper4T {
  position: absolute;
  top: 47px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  /* -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75); */
  -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
  /* box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75); */
  background: white;
  width: 194%;
  z-index: 10000000000000;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  border-top-left-radius: 0px;
  padding: 20px;
  padding-top: 30px;
}
table {
  border: 0px;
}
.state-indicator {
  color: transparent;
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .state-indicator {
    z-index: 2;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .state-indicator {
    z-index: 3;
  }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .state-indicator {
    z-index: 4;
  }
}
.FourTellContainer {
  display: block;
  margin: 0;
  padding: 0;
}
.FourTellContainer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.toutWrapper4T {
  background: none;
}
.product4TCaption {
  color: #435912;
  font-family: "Lato", sans-serif, "google";
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-indent: 0;
  border-bottom: 1px solid #e5e5e5;
}
.product4T {
  background-color: transparent;
  padding: 5px 0;
  margin: 0 auto;
  width: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.product4T .productImage {
  padding: 10px 0;
  width: 100%;
  height: 200px;
  position: relative;
}
.product4T .productImage img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto !important;
  width: auto !important;
  height: auto !important;
  border: none !important;
  display: inline;
}
.product4T .ratingImage .ratingImageImg {
  border: none;
  vertical-align: middle;
  display: inline;
  padding: 2px;
}
.product4T .description {
  font: normal 14px "Lato", sans-serif, "google";
  color: #727272;
  line-height: 1.428571429;
  position: absolute;
  top: 245px;
  height: 79px;
  overflow: hidden;
}
.product4T .productTitle:hover {
  color: #92b73a;
}
.product4T .productTitle {
  font: normal 14px "Lato", sans-serif, "google";
  color: #727272;
  line-height: 1.428571429;
  height: 42px;
  overflow: hidden;
  margin-bottom: 90px;
}
.product4T .productPrice {
  font: normal 14px "Lato", sans-serif, "google";
  color: #727272;
  line-height: 1.428571429;
}
.product4T .strikePrice {
  display: inline;
}
.product4T .productSalePrice {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #ae2323;
}
.product4T .productBuy {
  margin: 0 0 10px;
  text-decoration: none;
  margin-top: 30px;
}
.product4T .productBuy img,
.product4T .productBuy input {
  max-width: 100%;
  border: medium none;
  padding: 0px;
  width: 100%;
  font-size: 13px;
  height: 38px;
  line-height: initial;
}
.product4T .productBuy img:hover,
.product4T .productBuy input:hover {
  border: 2px solid #065f88;
}
/* For scrollables. */

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* mouse grab icon */

/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.FourTellContainer .owl-carousel {
  width: 95%;
  position: relative;
  margin: auto;
}
.FourTellContainer .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.FourTellContainer .owl-carousel .owl-wrapper-outer .owl-wrapper {
  position: relative;
}
.FourTellContainer .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
}
.FourTellContainer .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .product4T {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  background: white;
}
.FourTellContainer .owl-carousel .owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 11;
  position: absolute;
  left: 0;
  /*top: 40%;*/
  top: 0;
  height: auto;
  width: 100%;
  /*.owl-next:before {
                content: "\f105";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            --adjust as necessary
                text-shadow: 0px 1px 2px rgba(101, 101, 101, .9);
                font-size: 40px;
                color:#e6e6e6;;
                position: absolute;
                top: 186px;
                right: 0px;
            }--*/

  /*-.owl-prev:before {
                content: "\f104";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            -adjust as necessary
                text-shadow: 0px 1px 2px rgba(101, 101, 101, .9);
                font-size: 40px;
                color:#e6e6e6;
                position: absolute;
                top: 186px;
                left: 0px;
            }--*/

}
.FourTellContainer .owl-carousel .owl-controls .owl-buttons div {
  display: block !important;
  -webkit-border-radius: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 24px !important;
  height: 48px !important;
  cursor: pointer;
}
.FourTellContainer .owl-carousel .owl-controls .owl-next {
  background: url('http://4tcdnstage.blob.core.windows.net/4tjs3/images/easternLeafArrows.png') no-repeat;
  background-position-x: -64px !important;
  position: absolute !important;
  right: -3%;
  top: 200px;
  float: right;
}
.FourTellContainer .owl-carousel .owl-controls .owl-next {
  position: absolute;
}
.FourTellContainer .owl-carousel .owl-controls .owl-prev {
  background: url('http://4tcdnstage.blob.core.windows.net/4tjs3/images/easternLeafArrows.png') no-repeat;
  background-position-x: -14px;
  background-position-y: 0px;
  position: absolute;
  left: -3%;
  top: 200px;
  float: left;
}
.FourTellContainer .owl-carousel .owl-controls .owl-prev {
  position: absolute;
}
/* Quite necessary; customize to fit. */

.items .scrollGroup,
.items .product4T {
  float: left;
}
/* For the buttons. */

a.browse {
  background: url(../images/hori_large.png) no-repeat;
  display: block;
  width: 15px;
  height: 18px;
  float: left;
  margin: 100px 0 0;
  cursor: pointer;
  font-size: 1px;
}
a.right {
  background-position: 0 -30px;
  clear: right;
  margin-right: 10px;
}
a.left {
  background-position: 0 0;
  margin-left: 10px;
}
a.disabled {
  visibility: hidden !important;
}
/* Here follows custom classes, so as to permit each page to have its own
* custom CSS. */

/* Tout1 on PD page. */

.PD14T {
  table-layout: fixed;
}
/* Tout2 on PD page */

.PD24T {
  table-layout: fixed;
}
/* tout on sr page */

.SR4T {
  table-layout: fixed;
}
/* Tout on the home page. */

.HOME4T {
  border: 0px;
  table-layout: fixed;
}
.HOME4T .product4TCaption {
  font-family: "Lato", sans-serif, "google";
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 33px !important;
  color: #435912;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em !important;
}
.HOME4T .FourTellContainer .owl-carousel .owl-controls .owl-prev:before {
  left: -10px;
}
.HOME4T .FourTellContainer .owl-carousel .owl-controls .owl-next:before {
  right: -10px;
}
/* Category pages */

.CAT4T {
  table-layout: fixed;
}
/* Search */

/* View Cart */

.VC4T {
  table-layout: fixed;
}
/* Checkout */

/* Quick Cart */

/* Quick view */

/* 404 Page */

.EP4T {
  table-layout: fixed;
}
